<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Phương thức thanh toán</title>
</head>
<body>
	<h1>Các sản phẩm trong giỏ hàng</h1>
	<table id="t-table" border="1px">
		<thead>
			<tr>
				<th>STT</th>
				<th>Hình ảnh</th>
				<th>Tên sản phẩm</th>
				<th>Đơn giá</th>
				<th>Số lượng</th>
				<th>Thành tiền</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="cartResponse, index: ${listProducts}">
				<td th:utext="${index.count}"></td>
				<td>
					<img alt="ảnh sản phẩm" th:src="@{${cartResponse.product.photos}}" width="90px" height="113.3px">
				</td>
				<td th:utext="${cartResponse.product.name}"></td>
				<td th:utext="${cartResponse.product.price}"></td>
				<td th:utext="${cartResponse.quantity}"></td>
				<td class="t-price" th:utext="${cartResponse.quantity * cartResponse.product.price}"></td>
			</tr>
		</tbody>
		
		<tfoot>
			<tr>
				<td colspan="8"> 
					<strong>Tổng tiền:</strong> 
					<strong class="t-total-price">15000000</strong>
				</td>
			</tr>
			<tr>
				<td colspan="8"> 
					<strong>Chọn phương thức thanh toán:</strong> <br>
					<input class="t-pay-offline" style="height:16px; width:16px;" type="radio" name="t-pay-method" checked/> Thanh toán khi nhận hàng. <br>
					<input class="t-pay-online" style="height:16px; width:16px;" type="radio" name="t-pay-method"/> Thanh toán qua ví điện tử. <br>
				</td>
			</tr>
			<tr>
				<td colspan="8"> 
					<strong>Thanh toán:</strong> 
					<button class="t-pay">Mua Ngay</button>
				</td>
			</tr>
			
		</tfoot>
		
	</table>
	
</body>
</html>