<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="UTF-8">
<title>Giỏ hàng</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<style type="text/css">
	#t-table {
		border: 1px solid #878787;
		border-collapse: collapse;
	}
	
	#t-table th {
		border: 1px solid #878787;
	} 

	#t-table td {
		padding: 0 16px;
		border: 1px solid #878787;
	}
	
	#t-bill {
		display: none;
	}
	
	#t-bill table th,
	#t-bill table td {
		padding: 4px 16px;
	}
	
	.t-voucher {
		margin-left: 20px;
	}
	
	.t-buy-continue {
		color: #333;
		padding: 8px;
		margin: 16px 0;
		border: 1px solid #878787; 
		display: inline-block;
		border-radius: 4px;
	}
	
	.reset-a {
		text-decoration: none;
		color: #333;
	}
	
	.t-button {
		border: 1px solid #bbbbbb; 
		padding: 8px; 
		border-radius: 4px; 
		background-color: #f1f1f1;
		cursor: pointer;
		min-width: 100px;
	}
	
	.t-button:hover {
		background-color: #ccc;
	}
	
	.t-text-center {
		text-align: center;
	}
	
</style>
</head>
<body>
	<div id="t-cart">
		<h1>Các sản phẩm trong giỏ hàng</h1>
		<span style="display: none" class="t-token" th:text="${session.token == null ? 'null' : session.token}"></span>
		
		<a href="/list-products" class="t-buy-continue reset-a t-button">Tiếp tục mua hàng</a>
		<table id="t-table">
			<thead>
				<tr>
					<th>STT</th>
					<th>Hình ảnh</th>
					<th>Tên sản phẩm</th>
					<th>Đơn giá</th>
					<th>Số lượng</th>
					<th>Thành tiền</th>
					<th>Chi tết</th>
					<th>Xóa sản phẩm</th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each="cartResponse, index: ${listProducts}">
					<td th:utext="${index.count}"></td>
					<td>
						<img alt="ảnh sản phẩm" th:src="@{${cartResponse.product.photos}}" width="90px" height="113.3px">
					</td>
					<td class="t-product-name" th:utext="${cartResponse.product.name}"></td>
					<td th:utext="${cartResponse.product.price}"></td>
					<td style="display: none;" class="t-quantity" th:text="${cartResponse.product.quantity}"></td>
					<td class="t-quantity-selected" th:utext="${cartResponse.quantity}" style="text-align: right;"></td>
					<td class="t-price" th:utext="${cartResponse.quantity * cartResponse.product.price}"></td>
					<td> <a class="reset-a" th:href="@{/details(id=${index.current.product.id})}">Xem chi tiết</a> </td>
					<td style="text-align: center"> 
						<span class="cart-id" style="display: none" th:text="${cartResponse.id}"></span>
						<button class="t-delete t-button">Xóa</button> 
						<span class="product-id" style="display: none" th:text="${index.current.product.id}"></span>
					</td>
				</tr>
			</tbody>
			
			<tfoot>
				<tr>
					<td colspan="8"> 
						<strong>Tổng:</strong> 
						<strong th:text="${totalCart}"></strong>
					</td>
				</tr>
				<tr>
					<td colspan="8"> 
						<div>
							<span style="color: blue;">
								<strong>Giảm giá:</strong> 
								<strong th:text="${currentDiscount}"></strong>
								<strong>%</strong>
							</span>
							<span style="margin-left: 30px; font-style: italic; color: red">
								<span>( Mua thêm</span> 
								<span class="t-need" th:text="${valueToNextDiscount}"></span>
								<span>để được giảm</span>
								<span th:text="${nextDiscount}"></span>
								<span>% )</span>	
							</span>													
						</div>
						<div style="color: black">
							<strong>Trừ:</strong>
							<strong>-</strong>
							<strong th:text="${discountValue}"></strong>
						</div>
					</td>
				</tr>
				<tr>
					<td colspan="8"> 
						<strong>Thành tiền:</strong> 
						<strong th:text="${realCart}"></strong>
					</td>
				</tr>
				<tr>
					<td colspan="8"> 
						<strong>Chọn phương thức thanh toán:</strong> <br>
						<input class="t-pay-offline" style="height:16px; width:16px;" type="radio" name="t-pay-method" checked/> Thanh toán khi nhận hàng. <br>
						<input class="t-pay-online" style="height:16px; width:16px;" type="radio" name="t-pay-method"/> Thanh toán qua ví điện tử. <br>
					</td>
				</tr>
				<tr>
					<td colspan="8"> 
						<strong>Thanh toán:</strong> 
						<button class="t-pay t-button" style="margin: 4px 4px 4px 50px; width: 500px;">Mua Ngay</button>
						<span class="senderId" style="display: none;" th:text="${session.idUser == null ? '-1' : session.idUser}"></span>
					</td>
				</tr>
				
			</tfoot>
			
		</table>
	</div>
	
	
	<!-- Script -->
	<script type="text/javascript">
		$(document).ready(function() {
			// Token:
			let token = $('.t-token').text();
			
			// Click xóa sản phẩm trong giỏ hàng:
			$('.t-delete').click(function(e) {
				if( token === 'null' ) {
					// Lấy product id:
					let productId = Number($(e.target).next().text());
					// Nếu chưa đăng nhập -> gọi đến API clone -> xóa trong session:
					$.ajax({
			            type: "DELETE",
			            url: `http://localhost:8080/clone/cart/${productId}`,
			            success: function (response) {
			                alert("Xóa thành công.");
			                window.location.reload();
			            }
			        });	
				}
				else {
					// Nếu đã đăng nhập -> gọi API xóa trong databse:
					// Gọi đến API, xóa sản phẩm trong giỏ hàng theo cartId:
					// Lấy cart id của sản phẩm:
					let cartId = Number($(e.target).prev().text());
					$.ajax({
			            type: "DELETE",
			            url: `http://localhost:8080/cart/${cartId}`,
			            success: function (response) {
			                alert("Xóa thành công.");
			                window.location.reload();
			            }
			        });
				}
					
			});
			
			
			// Nhấn mua ngay:
			$('.t-pay').click(function () {
				// Nếu chưa đăng nhập -> chuyển tới trang đăng nhập rồi mới được thanh toán:
				if( token === 'null' ) {
					alert("Đăng nhập tài khoản để thanh toán.");
					window.location.href = "/";
					return;
				}

				// Kiểm tra giỏ hàng trước khi thanh toán:
				let quantitys = $('.t-quantity');
				let quantitySelecteds = $('.t-quantity-selected');
				let productNames = $('.t-product-name');
				// 1. Kiểm tra xem trong giỏ hàng có sản phẩm nào hay chưa?
				if( productNames.length == 0 ) {
					alert("Bạn chưa có sản phẩm nào trong giỏ hàng.");
					return;
				}
						
				// 2. Kiểm tra số lượng sản phẩm có đủ hay không?
				for ( let i = 0 ; i < quantitys.length ; i++ ) {
					let quantity = Number( $(quantitys[i]).text() );
					let quantitySelected = Number( $(quantitySelecteds[i]).text() );
					let productName = $(productNames[i]).text();
					
					if( quantity < quantitySelected ) {
						alert("Số lượng " + productName + " không đủ.")
						return;
					}
				}
				
				
				// Kiểm tra phương thức thanh toán:
				let payMethod = $('input[name="t-pay-method"]:checked').attr('class');
				// Nếu thanh toán offline -> hiển thị đơn hàng:
				if( payMethod === 't-pay-offline' ) {
					window.location.href = "http://localhost:8080/bill/offline";
				}
				else if( payMethod === 't-pay-online' ) {
					window.location.href = "http://localhost:8080/payment";
				}
				
			});
			
			
		})
	
	</script>
</body>
</html>