<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="UTF-8">
<title>Giỏ hàng</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<style type="text/css">
	#t-table td {
		padding: 0 16px;
	}
	
	#t-bill {
		display: none;
	}
	
	#t-bill table th,
	#t-bill table td {
		padding: 4px 16px;
	}
	
</style>
</head>
<body>
	<div id="t-cart">
		<h1>Các sản phẩm trong giỏ hàng</h1>
		<span style="display: none" class="t-token" th:text="${session.token == null ? 'null' : session.token}"></span>
		<table id="t-table" border="1px">
			<thead>
				<tr>
					<th>STT</th>
					<th>Hình ảnh</th>
					<th>Tên sản phẩm</th>
					<th>Đơn giá</th>
					<th>Số lượng</th>
					<th>Thành tiền</th>
					<th>Chi tết</th>
					<th>Xóa sản phẩm</th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each="cartResponse, index: ${listProducts}">
					<td th:utext="${index.count}"></td>
					<td>
						<img alt="ảnh sản phẩm" th:src="@{${cartResponse.product.photos}}" width="90px" height="113.3px">
					</td>
					<td class="t-product-name" th:utext="${cartResponse.product.name}"></td>
					<td th:utext="${cartResponse.product.price}"></td>
					<td style="display: none;" class="t-quantity" th:text="${cartResponse.product.quantity}"></td>
					<td class="t-quantity-selected" th:utext="${cartResponse.quantity}"></td>
					<td class="t-price" th:utext="${cartResponse.quantity * cartResponse.product.price}"></td>
					<td> <a th:href="@{/public/details(id=${index.current.product.id})}">Xem chi tiết</a> </td>
					<td style="text-align: center"> 
						<span class="cart-id" style="display: none" th:text="${cartResponse.id}"></span>
						<button class="t-delete">Xóa</button> 
						<span class="product-id" style="display: none" th:text="${index.current.product.id}"></span>
					</td>
				</tr>
			</tbody>
			
			<tfoot>
				<tr>
					<td colspan="8"> 
						<strong>Tổng tiền:</strong> 
						<strong class="t-total-price">15000000</strong>
					</td>
				</tr>
				<tr>
					<td colspan="8"> 
						<strong>Chọn phương thức thanh toán:</strong> <br>
						<input class="t-pay-offline" style="height:16px; width:16px;" type="radio" name="t-pay-method" checked/> Thanh toán khi nhận hàng. <br>
						<input class="t-pay-online" style="height:16px; width:16px;" type="radio" name="t-pay-method"/> Thanh toán qua ví điện tử. <br>
					</td>
				</tr>
				<tr>
					<td colspan="8"> 
						<strong>Thanh toán:</strong> 
						<button class="t-pay">Mua Ngay</button>
						<span class="senderId" style="display: none;" th:text="${session.userAccount == null ? '-1' : session.userAccount.userId}"></span>
					</td>
				</tr>
				
			</tfoot>
			
		</table>
	</div>
	
	
	<!-- Script -->
	<script type="text/javascript">
		$(document).ready(function() {
			// Token:
			let token = $('.t-token').text();
			
			
			// Tính tổng tiền:
			let prices = $(".t-price");
			let totalPrice = 0;
			for (let price of prices) {
				totalPrice += Number( $(price).text() );
			}
			$('.t-total-price').text(totalPrice);
			// Tổng tiền hóa đơn:
			$('.t-total-bill').text(totalPrice + ".0");
			
			
			// Click xóa sản phẩm trong giỏ hàng:
			$('.t-delete').click(function(e) {
				if( token === 'null' ) {
					// Lấy product id:
					let productId = Number($(e.target).next().text());
					// Nếu chưa đăng nhập -> gọi đến API clone -> xóa trong session:
					$.ajax({
			            type: "DELETE",
			            url: `http://localhost:8080/clone/cart/${productId}`,
			            success: function (response) {
			                alert("Xóa thành công.");
			                window.location.reload();
			            }
			        });	
				}
				else {
					// Nếu đã đăng nhập -> gọi API xóa trong databse:
					// Gọi đến API, xóa sản phẩm trong giỏ hàng theo cartId:
					// Lấy cart id của sản phẩm:
					let cartId = Number($(e.target).prev().text());
					$.ajax({
			            type: "DELETE",
			            url: `http://localhost:8080/cart/${cartId}`,
			            success: function (response) {
			                alert("Xóa thành công.");
			                window.location.reload();
			            }
			        });
				}
					
			});
			
			
			// Nhấn thanh toán:
			$('.t-pay').click(function () {
				// Nếu chưa đăng nhập -> chuyển tới trang đăng nhập rồi mới được thanh toán:
				if( token === 'null' ) {
					alert("Đăng nhập tài khoản để thanh toán.");
					window.location.href = "/";
					return;
				}

				// Kiểm tra giỏ hàng trước khi thanh toán:
				let quantitys = $('.t-quantity');
				let quantitySelecteds = $('.t-quantity-selected');
				let productNames = $('.t-product-name');
				// 1. Kiểm tra xem trong giỏ hàng có sản phẩm nào hay chưa?
				if( productNames.length == 0 ) {
					alert("Bạn chưa có sản phẩm nào trong giỏ hàng.");
					return;
				}
						
				// 2. Kiểm tra số lượng sản phẩm có đủ hay không?
				for ( let i = 0 ; i < quantitys.length ; i++ ) {
					let quantity = Number( $(quantitys[i]).text() );
					let quantitySelected = Number( $(quantitySelecteds[i]).text() );
					let productName = $(productNames[i]).text();
					
					if( quantity < quantitySelected ) {
						alert("Số lượng " + productName + " không đủ.")
						return;
					}
				}
				
				
				// Kiểm tra phương thức thanh toán:
				let payMethod = $('input[name="t-pay-method"]:checked').attr('class');
				// Nếu thanh toán offline -> hiển thị đơn hàng:
				if( payMethod === 't-pay-offline' ) {
					window.location.href = "http://localhost:8080/bill/offline";
				}
				else if( payMethod === 't-pay-online' ) {
					// Nếu thanh toán online
					// Kiểm tra liên kết ví điện tử hay chưa:
					let senderId = Number($('.senderId').text());
					
					if( senderId === -1 ) {
						// Nếu chưa -> liên kết ví
						window.location.href = "http://localhost:8080/wallets/register";
					}
					else {
						// Nếu đã liên kết -> tạo đơn hàng -> thanh toán
						console.log('Đã có tài khoản liên kết');
						window.location.href = "http://localhost:8080/bill/online";
						
					}
					
				}
				
			});
			
			
		})
	
	</script>
</body>
</html>