<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="UTF-8">
<title>Giỏ hàng</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
	<h1>Các sản phẩm trong giỏ hàng</h1>
	<span style="display: none" class="t-token" th:text="${session.token == null ? 'null' : session.token}"></span>
	<table id="t-table" border="1px">
		<tr>
			<th>STT</th>
			<th>Hình ảnh</th>
			<th>Tên sản phẩm</th>
			<th>Chi tết</th>
			<th>Xóa sản phẩm</th>
		</tr>
		<tr th:each="item, index: ${listProducts}">
			<td th:utext="${index.count}"></td>
			<td>
				<img alt="ảnh sản phẩm" th:src="@{${item.product.photos}}" width="90px" height="113.3px">
			</td>
			<td th:utext="${item.product.photos}"></td>
			<td> <a th:href="@{/public/details(id=${index.current.product.id})}">Xem chi tiết</a> </td>
			<td style="text-align: center"> 
				<span class="cart-id" style="display: none" th:text="${item.id}"></span>
				<button class="t-delete">Xóa</button> 
				<span class="product-id" style="display: none" th:text="${index.current.product.id}"></span>
			</td>
		</tr>
	</table>
	
	
	<script type="text/javascript">
		$(document).ready(function() {
			// Click xóa sản phẩm trong giỏ hàng:
			$('.t-delete').click(function(e) {
				let token = $('.t-token').text();
				if( token === 'null' ) {
					// Lấy product id:
					let productId = Number($(e.target).next().text());
					// Nếu chưa đăng nhập -> gọi đến API clone -> xóa trong session:
					$.ajax({
			            type: "DELETE",
			            url: `http://localhost:8080/clone/cart/${productId}`,
			            success: function (response) {
			                alert("Xóa thành công.");
			                window.location.reload();
			            }
			        });	
				}
				else {
					// Nếu đã đăng nhập -> gọi API xóa trong databse:
					// Gọi đến API, xóa sản phẩm trong giỏ hàng theo cartId:
					// Lấy cart id của sản phẩm:
					let cartId = Number($(e.target).prev().text());
					$.ajax({
			            type: "DELETE",
			            url: `http://localhost:8080/cart/${cartId}`,
			            success: function (response) {
			                alert("Xóa thành công.");
			                window.location.reload();
			            }
			        });
				}
					
			})
			
		})
	
	</script>
</body>
</html>