<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="UTF-8">
<title>Chi tiết sản phẩm</title>
</head>
<body>
	<h1>Chi tiết sản phẩm</h1>
	<table id="t-table" border="1px">
		<tr>
			<th>Hình ảnh</th>
			<th>Tên sản phẩm</th>
			<th>Đơn giá</th>
			<th>Số lượng còn lại</th>
		</tr>
		<tr>
			<td>
				<img alt="Ảnh sản phẩm" th:src="@{${product.get().photos}}" width="90px" height="113.3px">
			</td>
			<td th:utext="${product.get().name}"></td>
			<td th:utext="${product.get().price}"></td>
			<td th:utext="${product.get().quantity}"></td>
		</tr>
	</table>
</body>
</html>