<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="UTF-8">
<title>Danh sách sản phẩm</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<style type="text/css">
	#t-table tr {
		height: 50px;
	}
	
	#t-table tr td,
	#t-table tr th {
		padding: 0 8px;
	}
</style>
</head>
<body>
	<h1>Danh sách sản phẩm</h1>
	<h3> <a href="/list-cart">Giỏ hàng: <span th:utext="${totalQuantity}"></span> </a> </h3>
	<table id="t-table" border="1px">
		<tr>
			<th>STT</th>
			<th>Tên sản phẩm</th>
			<th>Chi tết</th>
			<th>Thêm vào giỏ hàng</th>
		</tr>
		<tr th:each="product, index: ${products}">
			<td th:utext="${index.count}"></td>
			<td th:utext="${product.photos}"></td>
			<td> <a th:href="@{/public/details(id=${index.current.id})}">Xem chi tiết</a> </td>
			<td style="text-align: center"> 
				<!-- Cách 1 -->
				<!-- <form action="/cart" method="POST">
					<input style="display: none" type="text" name="id" th:value="${index.current.id}">
					<input type="submit" value="Thêm">
				</form> -->
				
				<!-- Cách 2 -->
				<span style="display: none;" class="t-product-id" th:text="${index.current.id}"></span>
				<button class="t-add-to-cart">Thêm</button>
				
				<form style="display: none;" class="t-add-to-cart-clone" action="/"></form>
				
			</td>
		</tr>
	</table>
	
	<script type="text/javascript">
		$(document).ready(function () {
			// Thêm vào giỏ hàng:
			$('.t-add-to-cart').click(function (e) {
				let productId = Number($(e.target).prev().text());
				
				// Gọi đến API, post dữ liệu:
				$.ajax({
                    type: "POST",
                    url: "http://localhost:8080/cart",
                    // async: false,
                    data: JSON.stringify(productId),
                    dataType: "json",
                    contentType: "application/json",
                    success: function (response) {
                    	alert("Thêm thành công.");
                    	window.location.reload();
                    },
                    error: function(reject) {
                        alert("Bạn chưa đăng nhập.");
                        $(".t-add-to-cart-clone").submit();
                    }
                });	
					
			});
			
		}) 
	</script>

</body>
</html>