<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Liên kết ví điện tử</title>
</head>
<body>
	<h1>Nhập thông tin</h1>
	<table border="1px">
		<tr>
			<td>Email:</td>
			<td>
				<input type="email" name="email" placeholder="Nhập email"/>
			</td>
		</tr>
		<tr>
			<td>Họ và tên:</td>
			<td>
				<input type="text" name="name" placeholder="Nhập họ tên"/>
			</td>
		</tr>
		<tr>
			<td>Số điện thoại:</td>
			<td>
				<input type="text" name="phoneNumber" placeholder="Nhập số điện thoại"/>
			</td>
		</tr>
		<tr>
			<td>Loại tài khoản:</td>
			<td>
				<input type="radio" name="roleAccount" checked/> Người bán hàng <br>
				<input type="radio" name="roleAccount"/> Khách hàng <br>
			</td>
		</tr>
	</table>
	
</body>
</html>